<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="uno.allen.db.mapper.TownMapper">
	<insert id="insertTown" parameterType="uno.allen.entity.Town">
		insert into town
		(
		county_fk,town_name
		)
		values 
		(
		#{County_FK},#{Town_Name}
		)
	</insert>
	
	<select id="getTownByCountyID" resultType="uno.allen.entity.Town">
		select * from town where county_fk = #{County_FK}
	</select>
	<delete id="deleteTown" parameterType ="uno.allen.entity.Town">
		delete from town where town_name = #{Town_Name}
	</delete>
	
</mapper>